/.idea/
/var/
**/var/
/vendor/
/bin/*
!/bin/composer-require-checker
!/bin/infection
!/bin/mdlinks
!/bin/php-cs-fixer
!/bin/phpstan
!/bin/phpunit-check-annotation
!/bin/phpunit-runfailed-filter
!/bin/psr4-validate
!/bin/qa
/cache/
/.phive-home/
/tools/rector/vendor/
