<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" colors="true" timeoutForMediumTests="5" timeoutForSmallTests="1" timeoutForLargeTests="300" failOnRisky="true" failOnWarning="true" defaultTestSuite="tests" cacheResult="true" executionOrder="depends,random" cacheDirectory=".phpunit.cache" requireCoverageMetadata="true" beStrictAboutCoverageMetadata="true">
  <coverage>
    <report>
      <clover outputFile="../var/qa/phpunit_logs/coverage.clover"/>
      <html outputDirectory="../var/qa/phpunit_coverage"/>
      <text outputFile="php://stdout"/>
      <xml outputDirectory="../var/qa/phpunit_logs/coverage-xml"/>
    </report>
  </coverage>
  <logging>
    <junit outputFile="../var/qa/phpunit_logs/phpunit.junit.xml"/>
  </logging>
  <testsuites>
    <testsuite name="tests">
      <directory suffix="Test.php">../tests/Small</directory>
      <!-- directory suffix="Test.php">../tests/Medium</directory //-->
      <directory suffix="Test.php">../tests/Large</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">../src</directory>
    </include>
  </source>
</phpunit>
